html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

:root {
    --purple: #937dc2;
}

/** Globals */

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #f3f3f4;
}

/** Utilities */
.subtitle {
    text-align: center;
    font-size: 2rem;
    margin: 2.5rem 0;
}
.btn {
    padding: 1.4rem 2.5rem;
    border: 3px solid var(--purple);
    font-size: 2rem;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.btn__buy {
    color: #fff;
    margin: 0 auto;
}
.btn__buy:hover {
    color: #0d0c22;
    background-color: #fff;
}
/** Header  */

.site__header {
    background-image: url("/src/assets/hero.jpg");
    background-size: cover;
    background-position: center center;
    height: 80vh;
}
.header__content {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}
.logo__container {
    margin-bottom: 3rem;
}
.logo__text {
    font-size: 4rem;
    color: #0d0c22;
}
.logo__img{
    height: 5rem;
}
.header__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}
.header__left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .header__content {
        flex-direction: row;
    }
    .header__right,
    .header__left {
        flex-direction: row;
        margin: 0;
    }
    .logo__container {
        margin-bottom: 0;
        margin-right: 3rem;
    }
    .site__header {
        height: 60vh;
    }
}
/** Navbar */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.navbar a {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}
.navbar a:last-of-type {
    margin-bottom: 0;
}
.navbar a:hover {
    color: #0d0c22;
    text-decoration: underline;
}
.navbar__left {
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
    }
    .navbar a {
        margin-bottom: 0;
        margin-right: 2rem;
    }
    .navbar a:last-of-type {
        margin-right: 0;
    }
    .navbar__left {
        margin-top: 0;
    }
}

/* Serach bar  */
.group {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 30px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

@media (min-width: 768px) {
    .input {
        margin-right: 3rem;
        margin-bottom: 0;
    }
}
/** Hero */
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    padding: 3rem;
}

.hero__content h2 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #fff;
}
.hero__content p {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    color: #fff;
}

@media (min-width: 768px) {
    .hero__content {
        margin: 4rem 0;
    }
}
/** Main content  */

/* Carousel */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
@media (min-width: 768px) {
    .slideshow-container {
        max-width: 500px;
    }
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.carousel__text {
    color: #000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}
.price{
    bottom: 8px;
}
.price span{
    color: #937dc2;
    font-weight: bold;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot__container {
    text-align: center;
    margin-bottom: 3rem;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
/** Footer  */
.site__footer {
    padding: 2rem;
    text-align: center;
    background-color: var(--purple);
}
