html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

:root {
    --purple: #B1AFFF;
}

/** Globals */

/** Header  */
.site__header{
	display: flex;
	justify-content: space-around;
	padding: 2rem;
}

/** Main content  */


/** Footer  */
.site__footer {
    padding: 2rem;
    text-align: center;
    background-color: var(--purple);
}
