@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

:root {
    --purple: #937dc2;
}

/** Globals */

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #f0f0f0;
}

/** Utilities */
.block {
    display: block;
}

.subtitle {
    text-align: center;
    font-size: 2rem;
    margin: 2.5rem 0;
}
.btn {
    padding: 1.4rem 2.5rem;
    color: #000;
    border: 3px solid var(--purple);
    font-size: 2rem;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.btn__buy {
    color: #fff;
    margin: 0 auto;
}
.btn__buy:hover {
    color: #0d0c22;
    background-color: #fff;
}

.btn__bag {
    padding: 1rem 1.7rem;
    font-size: 1.3rem;
    margin-top: 0.6rem;
}

.btn__bag:hover {
    cursor: pointer;
    color: #0d0c22;
    background-color: #fff;
}
.btn__modal {
    font-size: 1.5rem;
    padding: 1rem 1.3rem;
    border: 1px solid var(--purple);
}

.btn__modal:hover {
    color: #f0f0f0;
    cursor: pointer;
    background-color: #937dc2;
}
/** Header  */

.site__header {
    background-image: url("/public/header_image.jpg");
    background-size: cover;
    background-position: center center;
    height: 90vh;
}
.header__content {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}
.logo__container {
    margin-bottom: 3rem;
}
.logo__text {
    font-size: 4rem;
    color: #0d0c22;
}
.logo__img {
    height: 5rem;
}
.header__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}
.header__left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .header__content {
        flex-direction: row;
    }
    .header__right,
    .header__left {
        flex-direction: row;
        margin: 0;
    }
    .logo__container {
        margin-bottom: 0;
        margin-right: 3rem;
    }
    .site__header {
        height: 60vh;
    }
}
/** Navbar */
.menu__bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle__btn {
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: 0.45rem;
    margin-bottom: 2rem;
}
.toggle__btn > div {
    background: #0d0c22;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
}
.toggle__btn:hover div:first-child {
    transform: rotate(45deg);
}
.toggle__btn:hover div:nth-child(2) {
    opacity: 0;
}
.toggle__btn:hover div:last-child {
    transform: rotate(-45deg);
}

@media (min-width: 768px) {
    .toggle__btn {
        display: none;
    }
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.navbar a {
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 2px #0d0c22;
    color: #fff;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}
.navbar a:last-of-type {
    margin-bottom: 0;
}
.navbar a:hover {
    color: #121113;
    text-decoration: underline;
    text-shadow: none;
}
.navbar__left {
    margin-top: 2rem;
}
.bag {
    font-weight: bold;
}
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
    }
    .navbar a {
        margin-bottom: 0;
        margin-right: 2rem;
    }
    .navbar a:last-of-type {
        margin-right: 0;
    }
    .navbar__left {
        margin-top: 0;
    }
}

/* Serach bar  */
.group {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 30px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
.input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

@media (min-width: 768px) {
    .input {
        margin-right: 3rem;
        margin-bottom: 0;
    }
}
/** Hero */
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    padding: 3rem;
}

.hero__content h2 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #121113;
    text-shadow: 1px 1px 2px #fff;

}
.hero__content p {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    color: #121113;
    text-shadow: 1px 1px 2px #fff;
    text-align: center;
    font-weight: bold;
}

@media (min-width: 768px) {
    .hero__content {
        margin: 4rem 0;
    }
}
/** Main content  */

/* Carousel */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
@media (min-width: 768px) {
    .slideshow-container {
        max-width: 500px;
    }
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.carousel__text {
    color: #000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 36px;
    right: 10px;
    width: 100%;
    text-align: center;
}
@media (min-width: 768px) {
    .carousel__text {
        right: 2px;
    }
}
.price {
    bottom: 8px;
    right: 130px;
}
@media (min-width: 768px) {
    .price {
        right: 850px;
    }
}
.price span {
    color: #937dc2;
    font-weight: bold;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot__container {
    text-align: center;
    margin-bottom: 3rem;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* 4 squares xd */
.square__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.square__tl {
    background-image: url("https://images.unsplash.com/photo-1434389677669-e08b4cac3105?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=705&q=80");
}
.square__tr {
    background-image: url("https://images.unsplash.com/photo-1580682312385-e94d8de1cf3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=703&q=80");
}
.square__bl {
    background-image: url("https://images.unsplash.com/photo-1591047139829-d91aecb6caea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80");
}
.square__br {
    background-image: url("https://images.unsplash.com/photo-1522968439036-e6338d0ed84f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}
.square__title {
    color: #f3f3f4;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.tl1 {
    color: #000;
}
@media (min-width: 768px) {
    .square__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .square {
        height: 60rem;
    }
}
/** Footer  */
.site__footer {
    padding: 2rem;
    text-align: center;
    background-color: #bccef8;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__mail {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #0d0c22;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}
@media (min-width: 768px) {
    .input__mail {
        max-width: 300px;
    }
    .site__footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.button--submit {
    min-height: 50px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
    background-color: #5e5dcd;
}

.input__mail:focus,
.input__mail:focus-visible {
    border-color: rgba(234, 76, 137, 0.4);
    outline: none;
}

.social {
    max-width: 300px;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-around;
}
.social__red {
    color: #0d0c22;
    font-size: 2.5rem;
    transition: all 0.2s ease-in-out;
}

.social__red:hover {
    transform: scale(1.5);
}

/** About page  */
.header__alter {
    background-color: #f7f7f7;
}
.alter a {
    color: #0d0c22;
}

.alter a:hover {
    color: #937dc2;
}

.about__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
}

.about__image {
    width: 30rem;
    height: auto;
    margin: 1rem auto;
}

.about__info p {
    font-size: 1.5rem;
    line-height: 2;
}

@media (min-width: 768px) {
    .about__info {
        flex-direction: row;
    }
    .about__image {
        width: auto;
        height: 40rem;
        margin: 1rem 2rem;
    }
}

.objectives__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.objective {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.card__title {
    font-size: 2.5rem;
    margin-top: 1rem;
}
.objective__icon {
    display: block;
    font-size: 2.6rem;
    margin: 1rem 0;
}
.objective p {
    font-size: 1.4rem;
    line-height: 1.6;
}

@media (min-width: 768px) {
    .objectives__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Discover page */
.btn__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover__custom {
    height: 40rem;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.forwoman {
    background-image: url("https://images.unsplash.com/photo-1582623127508-3bbea01a4bb7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=769&q=80");
}
.forman {
    background-image: url("https://images.unsplash.com/photo-1617171594202-100a53bdfe04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}
.discover__custom p {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .btn__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .forwoman {
        background-position: top center;
    }
}

/** For man and woman pages */
@media (min-width: 768px) {
    .card__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}
.card:hover {
    box-shadow: -2px 4px 35px 2px rgba(117, 117, 117, 0.75);
    -webkit-box-shadow: -2px 4px 35px 2px rgba(117, 117, 117, 0.75);
    -moz-box-shadow: -2px 4px 35px 2px rgba(117, 117, 117, 0.75);
}
.card__image img {
    max-width: 100%;
}

.card__info {
    color: #0d0c22;
}

.card__info h3 {
    margin: 1rem auto;
    font-size: 2rem;
    text-align: center;
}
.card__info p {
    font-size: 1.2rem;
}

.buy__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price {
    text-align: right;
    color: #937dc2;
    font-weight: bold;
    font-size: 1.7rem;
}

.dnone {
    display: none;
}
@media (min-width: 768px) {
    .dnone {
        display: block;
    }
}
.carousel__img {
    position: relative;
    height: 50rem;
}
.awssld {
    display: block;
    position: relative;
    height: 50rem;
    max-width: 95% !important;
    margin: 6rem auto;
    margin-top: 0;

    --organic-arrow-thickness: 4px;
    --organic-arrow-height: 40px;
    --slider-height-percentage: 60%;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-opacity: 0.5;
    --control-button-hover-opacity: 0.75;
    --control-button-background: transparent;
    --transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
    --slider-transition-duration: 575ms;
    --organic-arrow-color: #6a6a6a;
    --organic-arrow-border-radius: 0;
    --control-bullet-color: #6a6a6a;
    --control-bullet-active-color: #6a6a6a;
    --content-background-color: #f1f1f1 !important;
}

.center {
    align-items: center;
}

/* Modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    width: 95%;
    background-color: #fff;
}

.modal__header,
.modal__footer {
    padding: 1rem;
}

.modal__body {
    padding: 1rem;
    border: 1px solid #f0f0f0;
    height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .modal__content {
        width: 600px;
    }
}

.modal__body p {
    font-size: 1.5rem;
    text-align: left;
    margin: 1rem auto;
}

.texto__relleno {
    color: #82cd47;
    font-size: 3rem;
    text-align: center;
}

.end__text {
    color: #5da7db;
}
